/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 10, ../sass/style.scss */
html {
  font-size: 62.5%;
}

/*---------Header----------*/
/* line 16, ../sass/style.scss */
.header {
  background: #96db4c;
  padding: 1.6rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 55;
}

/* line 25, ../sass/style.scss */
.header .container {
  max-width: 990px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 32, ../sass/style.scss */
.navigation {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

/* line 35, ../sass/style.scss */
.navigation .button {
  display: block;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

/* line 41, ../sass/style.scss */
.navigation .button::before {
  content: '';
  display: block;
  height: 4px;
  background: #000;
  margin: 0 0 10px 0;
}

/* line 48, ../sass/style.scss */
.navigation .button::after {
  content: '';
  display: block;
  height: 10px;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
}

/* line 55, ../sass/style.scss */
.navigation .button.active::before {
  background: #ccc;
}

/* line 58, ../sass/style.scss */
.navigation .button.active::after {
  border-color: #ccc;
}

/* line 61, ../sass/style.scss */
.navigation .nav {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 220px;
  background: #96db4c;
  font: 1.8rem/1.5 'Arial Narrow';
  padding: 4rem 0 0;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
  text-transform: uppercase;
  z-index: 5;
}
/* line 73, ../sass/style.scss */
.navigation .nav li {
  padding: 0 0 1rem 0;
}
/* line 75, ../sass/style.scss */
.navigation .nav li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font: 500 1.8rem/2.2rem 'Roboto', sans-serif;
  display: block;
  padding: 0 0 0 1rem;
}

/* line 85, ../sass/style.scss */
.navigation .nav li a:hover {
  color: #96db4c;
  background: #fff;
}

/* line 89, ../sass/style.scss */
.navigation .nav li:last-child {
  padding: 0;
}

/* line 93, ../sass/style.scss */
.navigation .nav.active {
  left: 0;
}

/* line 96, ../sass/style.scss */
.header .contact {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font: 500 1.2rem/2.2rem 'Roboto', sans-serif;
  color: #fff;
}

/* line 101, ../sass/style.scss */
.header .logo {
  font: 700 1.6rem/1 'Nunito', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
/* line 106, ../sass/style.scss */
.header .logo span {
  color: #000;
}

/* ------------ Main ------------*/
/* line 111, ../sass/style.scss */
.info {
  background: url(../img/img1.jpg) center/cover no-repeat;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 2.5rem;
}
/* line 120, ../sass/style.scss */
.info h1 {
  text-align: center;
  z-index: 44;
  font: 900 2.8rem/1.5 'Roboto', sans-serif;
  color: #fff;
  max-width: 300px;
  margin: 0 0 2rem;
}
/* line 131, ../sass/style.scss */
.info p {
  text-align: center;
  z-index: 44;
  max-width: 250px;
  font: 400 1.6rem/1.5 'Roboto', sans-serif;
  color: #fff;
}

/* line 141, ../sass/style.scss */
.info h1::after {
  display: block;
  content: '';
  width: 106px;
  height: 4px;
  background: #fff;
  margin: 0.25rem auto 0;
}

/* line 149, ../sass/style.scss */
.info::after {
  display: block;
  content: '';
  background: rgba(0, 0, 0, 0.68);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*----------Slider---------*/
/* line 160, ../sass/style.scss */
.comment {
  max-width: 990px;
  margin: 0 auto 2.5rem;
}
/* line 163, ../sass/style.scss */
.comment h2 {
  font: 700 4.5rem/1 'Roboto', sans-serif;
  color: #595959;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 6rem;
}

/* line 172, ../sass/style.scss */
.slider {
  max-width: 300px;
  position: relative;
  margin: 0 auto;
}
/* line 177, ../sass/style.scss */
.slider .content img {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: 0 auto 4rem;
}
/* line 183, ../sass/style.scss */
.slider .content .person {
  font: 400 3.3rem/1 'Roboto', sans-serif;
  color: #96db4c;
  margin: 0 0 4rem;
  text-align: center;
}
/* line 189, ../sass/style.scss */
.slider .content .reviews {
  font: 300 2rem/1.5 'Roboto', sans-serif;
  text-align: center;
  max-width: 250px;
  margin: 0 auto 1rem;
}

/* line 198, ../sass/style.scss */
.slider .content .person::after {
  display: block;
  content: '';
  width: 107px;
  height: 4px;
  background: #1e3910;
  margin: 2.8rem auto 0;
}

/* line 206, ../sass/style.scss */
.slider .slick-dots {
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
}
/* line 212, ../sass/style.scss */
.slider .slick-dots li {
  position: relative;
  width: 33px;
  height: 33px;
  border: 3px solid #96db4c;
  border-radius: 50%;
}
/* line 218, ../sass/style.scss */
.slider .slick-dots li button {
  display: none;
}

/* line 223, ../sass/style.scss */
.slider .slick-dots li::after {
  display: block;
  content: '';
  width: 35px;
  height: 1px;
  background: #ddd;
  position: absolute;
  bottom: 11px;
  left: 30px;
}

/* line 233, ../sass/style.scss */
.slider .slick-dots li:last-child::after {
  display: none;
}

/* line 236, ../sass/style.scss */
.slider .slick-dots .slick-active {
  border: 6px solid #96db4c;
}

/* line 240, ../sass/style.scss */
.slider .slick-dots .slick-active::after {
  left: 27px;
  bottom: 9px;
}

/* line 245, ../sass/style.scss */
.slider .slick-dots .slick-active::before {
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #96db4c;
  position: absolute;
  left: 3px;
  bottom: 3px;
}

/*---------Gallery---------*/
/* line 257, ../sass/style.scss */
.gallery {
  margin: 0 0 9rem;
}
/* line 259, ../sass/style.scss */
.gallery h2 {
  font: 700 4.5rem/1 'Roboto', sans-serif;
  color: #595959;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 8rem;
}

/* line 267, ../sass/style.scss */
.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 271, ../sass/style.scss */
.images li {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  width: 300px;
  margin: 6px;
  height: 290px;
  position: relative;
  overflow: hidden;
}
/* line 278, ../sass/style.scss */
.images li img {
  height: 100%;
  width: 100%;
}

/* line 284, ../sass/style.scss */
.images li::after, .images li::before {
  display: block;
  content: '';
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}

/* line 295, ../sass/style.scss */
.images li:hover::after {
  top: 100%;
}

/* line 299, ../sass/style.scss */
.images li:hover::before {
  bottom: 100%;
}

/*------------Form------------*/
/* line 304, ../sass/style.scss */
.contacts {
  background: url(../img/img11.jpg) bottom no-repeat;
  padding: 0 0 16.8rem;
}
/* line 307, ../sass/style.scss */
.contacts .title {
  font: 700 4.5rem/1 'Roboto', sans-serif;
  color: #595959;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 8rem;
}

/* line 316, ../sass/style.scss */
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* line 320, ../sass/style.scss */
.form input {
  width: 300px;
  height: 55px;
  margin: 0 0 1.6rem;
  padding: 20px;
  border: 1px solid #1e3910;
  font: 300 1.4rem/1 'Roboto', sans-serif;
  color: #9e9e9e;
  text-transform: capitalize;
  border: inset none;
}
/* line 332, ../sass/style.scss */
.form button {
  background: #96db4c;
  height: 55px;
  width: 300px;
  font: 400 2.3rem/1 'Roboto', sans-serif;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border: inset none;
}

/* line 344, ../sass/style.scss */
.form button:hover {
  color: #96db4c;
  background: #fff;
  border: 1px solid #1e3910;
}

/*----------------footer-----------------*/
/* line 352, ../sass/style.scss */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/img12.jpg) center/cover no-repeat;
  padding: 4rem 0 3rem;
  margin: 0 auto;
}

/* line 361, ../sass/style.scss */
.footer .contact {
  font: 500 1.2rem/2.2rem 'Roboto', sans-serif;
  color: #fff;
  text-align: left;
  margin: 0 10px;
}

/* line 367, ../sass/style.scss */
.footer .logo {
  font: 700 1.6rem/1 'Nunito', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin: 0 0 0 10px;
}
/* line 373, ../sass/style.scss */
.footer .logo span {
  color: #96db4c;
}

@media screen and (min-width: 992px) {
  /*-----------header ----------*/
  /* line 383, ../sass/style.scss */
  .navigation {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  /* line 386, ../sass/style.scss */
  .navigation .button {
    display: none;
  }

  /* line 389, ../sass/style.scss */
  .navigation .nav {
    position: static;
    width: auto;
    height: auto;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  /* line 397, ../sass/style.scss */
  .navigation .nav li {
    margin: 0 6.5rem 0 0;
    padding: 0;
  }
  /* line 400, ../sass/style.scss */
  .navigation .nav li a {
    padding: 0;
  }

  /* line 407, ../sass/style.scss */
  .navigation .nav li:last-child {
    margin: 0;
  }

  /* line 410, ../sass/style.scss */
  .navigation .nav li a:hover {
    color: #000;
    background: none;
  }

  /* line 415, ../sass/style.scss */
  .header .contact {
    font: 500 1.7rem/2.2rem 'Roboto', sans-serif;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  /* line 419, ../sass/style.scss */
  .header .logo {
    font: 700 2.6rem/1 'Nunito', sans-serif;
  }

  /*------------Main------------*/
  /* line 423, ../sass/style.scss */
  .info {
    margin: 0 0 10rem;
  }
  /* line 425, ../sass/style.scss */
  .info h1 {
    font: 900 7rem/1.5 'Roboto', sans-serif;
    max-width: 750px;
    margin: 0 0 5rem;
  }
  /* line 431, ../sass/style.scss */
  .info p {
    max-width: 650px;
  }

  /* line 436, ../sass/style.scss */
  .info h1::after {
    margin: 2.25rem auto 0;
  }

  /*-----Slider----*/
  /* line 440, ../sass/style.scss */
  .comment {
    margin: 0 auto 10rem;
  }

  /* line 443, ../sass/style.scss */
  .slider {
    max-width: 600px;
  }
  /* line 446, ../sass/style.scss */
  .slider .content .reviews {
    max-width: 535px;
    margin: 0;
  }

  /* line 453, ../sass/style.scss */
  .slider .slick-dots {
    height: auto;
    display: block;
    width: 33px;
    position: absolute;
    left: -180px;
    top: 0;
  }
  /* line 460, ../sass/style.scss */
  .slider .slick-dots li {
    margin: 0 0 50px;
  }

  /* line 464, ../sass/style.scss */
  .slider .slick-dots li::after {
    width: 1px;
    height: 50px;
    bottom: calc(-100% - 26px);
    left: calc(50% - .5px);
  }

  /* line 471, ../sass/style.scss */
  .slider .slick-dots li:last-child {
    margin: 0;
  }

  /* line 475, ../sass/style.scss */
  .slider .slick-dots .slick-active::after {
    bottom: calc(-100% - 35px);
    left: calc(50% - .5px);
  }

  /*--------Gallery--------*/
  /* line 482, ../sass/style.scss */
  .images li {
    -ms-flex-preferred-size: 470px;
        flex-basis: 470px;
  }

  /* line 486, ../sass/style.scss */
  .form {
    -ms-flex-flow: row;
        flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* line 490, ../sass/style.scss */
  .form input {
    margin: 0 1.5rem 0 0;
  }

  /*------------Footer----------*/
  /* line 495, ../sass/style.scss */
  .footer .contact {
    font: 500 1.7rem/2.2rem 'Roboto', sans-serif;
  }

  /* line 498, ../sass/style.scss */
  .footer .logo {
    font: 700 2.7rem/1 'Nunito', sans-serif;
  }
}
