/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/*---------Header----------*/
$headerBg:#96db4c;

.header{
	background:$headerBg;
    padding: 1.6rem 1rem;
    position: absolute;
    top:0;
    right: 0;
    left:0;
    z-index: 55;
}
.header .container{
	max-width: 990px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.navigation{
	order: 3;
}
.navigation .button{
	display: block;
	height:32px;
	width:32px;
	cursor: pointer;
}
.navigation .button::before{
    content:'';
	display:block;
	height:4px;
	background:#000;
	margin:0 0 10px 0;
}
.navigation .button::after{
    content:'';
	display:block;
	height:10px;
	border-top:4px solid #000;
	border-bottom:4px solid #000;
}
.navigation .button.active::before {
	background:#ccc;
}
.navigation .button.active::after {
	border-color:#ccc;
}
.navigation .nav {
	position:absolute;
	top:0;
	left:-100%;
	height:100vh;
	width:220px;
	background:$headerBg;
	font:1.8rem/1.5 'Arial Narrow';
    padding: 4rem 0 0;
	transition:left 1s ease-in;
    text-transform: uppercase;
    z-index: 5;
        li{
            padding: 0 0 1rem 0;
            a{
                text-decoration: none;
                text-transform: capitalize;
                color: #fff;
                font: 500 1.8rem/2.2rem 'Roboto', sans-serif;
                display: block;
                padding: 0 0 0 1rem;
            }
    }
}
.navigation .nav li a:hover{
    color:$headerBg;
    background: #fff;
}
.navigation .nav li:last-child{
    padding: 0;
}

.navigation .nav.active {
	left:0;
}
.header .contact{
	order: 2;
    font: 500 1.2rem/2.2rem 'Roboto', sans-serif;
    color: #fff;
}
.header .logo{
    font: 700 1.6rem/1 'Nunito', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
        span{
            color: #000;
    }
}
/* ------------ Main ------------*/
.info{
    background: url(../img/img1.jpg) center/cover no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 2.5rem;
        h1{
            text-align: center;
            z-index: 44;
            font:900 2.8rem/1.5 'Roboto', sans-serif;
            color: #fff;
            max-width: 300px;
            margin: 0 0 2rem;
            
            
            
        }
        p{
            text-align: center;
            z-index: 44;
            max-width:250px ;
            font:400 1.6rem/1.5 'Roboto', sans-serif;
            color: #fff;
           
        }
    
}
.info h1::after{
    display: block;
    content: '';
    width: 106px;
    height: 4px;
    background: #fff;
    margin: 0.25rem auto 0; 
}
.info::after{
    display: block;
    content: '';
    background: rgba(0, 0, 0, .68);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0; 
}
/*----------Slider---------*/
.comment{
    max-width: 990px;
    margin: 0 auto 2.5rem;
    h2{
        font:700 4.5rem/1 'Roboto', sans-serif;
        color: #595959;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 6rem;
    }
}
.slider {
    max-width: 300px;
    position: relative;
    margin: 0 auto;
    .content{
        img{
            max-width: 200px;
            max-height: 200px;
            display: block;
            margin: 0 auto 4rem;
        }
        .person{
            font:400 3.3rem/1 'Roboto', sans-serif;
            color: $headerBg;
            margin: 0 0 4rem;
            text-align: center; 
        }
        .reviews{
            font: 300 2rem/1.5 'Roboto', sans-serif;
            text-align: center;
            max-width: 250px;
            margin:0 auto 1rem;
        }
    }
    
}
.slider .content .person::after{
    display: block;
    content: '';
    width: 107px;
    height: 4px;
    background: #1e3910;
    margin: 2.8rem auto 0;
}
.slider .slick-dots{
    height:33px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 300px;
        li {
            position: relative;
            width: 33px;
            height: 33px;
            border:3px solid $headerBg;
            border-radius: 50%;    
                button{
                    display: none;
                }
    } 
}
.slider .slick-dots li::after{
    display: block;
    content: '';
    width: 35px;
    height: 1px;
    background: #ddd;
    position: absolute;
    bottom: 11px;
    left: 30px;
}
.slider .slick-dots li:last-child::after{
    display: none;
}
.slider .slick-dots .slick-active{
    border:6px solid $headerBg;
    
}
.slider .slick-dots .slick-active::after{
   left: 27px;
    bottom: 9px;
    
}
.slider .slick-dots .slick-active::before{
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $headerBg;
    position: absolute;
    left: 3px;
    bottom: 3px;        
}
/*---------Gallery---------*/
.gallery{
    margin: 0 0 9rem;
    h2{
        font:700 4.5rem/1 'Roboto', sans-serif;
        color: #595959;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 8rem;
    }
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        li{
            flex-basis: 300px;
            width: 300px;
            margin: 6px;
            height: 290px;
            position: relative;
            overflow: hidden;
                img{
                height: 100%;
                width: 100%;
                    }
    }
}
.images li::after, .images li::before{
    display: block;
    content: '';
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    transition:all .6s; 
    }
    .images li:hover::after,{
        top: 100%;
        
    }
    .images li:hover::before{
        bottom: 100%
    }

/*------------Form------------*/
.contacts{
    background: url(../img/img11.jpg) bottom no-repeat;
    padding: 0 0 16.8rem; 
        .title{
            font:700 4.5rem/1 'Roboto', sans-serif;
            color: #595959;
            text-transform: uppercase;
            text-align: center;
            margin: 0 0 8rem;

    }
}
.form{
    display: flex;
    align-items:center;
    flex-direction: column;
        input{
            width: 300px;
            height: 55px;
            margin: 0 0 1.6rem;
            padding: 20px;
            border: 1px solid #1e3910;
            font:300 1.4rem/1 'Roboto', sans-serif;
            color: #9e9e9e;
            text-transform: capitalize;
            border:inset none;

        }
    button{
        background: $headerBg;
        height: 55px;
        width: 300px;
        font: 400 2.3rem/1 'Roboto', sans-serif;
        color: #fff;
        text-transform: uppercase;
        border:none;
        border:inset none;
    }
    
}
.form button:hover{
    color: $headerBg;
    background: #fff;
    border: 1px solid #1e3910;
    
    
} 
/*----------------footer-----------------*/
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../img/img12.jpg) center/cover no-repeat;
    padding: 4rem 0 3rem;
    margin: 0 auto;
    
}
.footer .contact{
    font: 500 1.2rem/2.2rem 'Roboto', sans-serif;
    color: #fff;
    text-align: left;
    margin: 0 10px;
}
.footer .logo{
    font: 700 1.6rem/1 'Nunito', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    margin: 0 0 0 10px;
        span{
            color: $headerBg;
    }
}




@media screen and (min-width:992px){
    /*-----------header ----------*/
	.navigation{
	order: 3;
	}
	.navigation .button{
		display: none;
	}
	.navigation .nav {
	position:static;
	width: auto;
	height: auto;
	background: none;
	display: flex;
	justify-content: space-between;
    padding: 0;
        li{
            margin: 0 6.5rem 0 0;
            padding: 0;
                a{
                    padding: 0;

                }
        }
        
	}
    .navigation .nav li:last-child{
        margin: 0;
    }
    .navigation .nav li a:hover{
    color:#000;
    background: none;

}
	.header .contact{
    font: 500 1.7rem/2.2rem 'Roboto', sans-serif;
	order: 3;
	}
    .header .logo{
    font: 700 2.6rem/1 'Nunito', sans-serif;
    }
    /*------------Main------------*/
    .info{
         margin: 0 0 10rem;
        h1{
            font:900 7rem/1.5 'Roboto', sans-serif;
            max-width: 750px;
            margin:0 0 5rem;
          
        }
        p{
            max-width: 650px;
           
        }
    }
    .info h1::after{
    margin: 2.25rem auto 0; 
    }
    /*-----Slider----*/
    .comment{
        margin: 0 auto 10rem;
    }
    .slider {
        max-width: 600px;
        .content {
            .reviews {
                max-width: 535px;
                margin: 0;
            }
        }  
}
    
    .slider .slick-dots{
    height:auto;
    display: block;
    width:33px;
    position: absolute;
    left: -180px;
    top: 0;
        li {
            margin: 0 0 50px;    
    } 
}
.slider .slick-dots li::after{
    width: 1px;
    height: 50px;
    bottom: calc(-100% - 26px);
    left: calc(50% - .5px);
}

.slider .slick-dots li:last-child{
    margin: 0;
}

.slider .slick-dots .slick-active::after{
    bottom: calc(-100% - 35px);
    left: calc(50% - .5px);
    
}
    /*--------Gallery--------*/
    .images{
        li{
            flex-basis: 470px;
    }
    }
    .form{
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
            input{ 
                margin:0 1.5rem 0 0;
        }
    }
    /*------------Footer----------*/
    .footer .contact{
    font: 500 1.7rem/2.2rem 'Roboto', sans-serif;
    }
    .footer .logo{
    font: 700 2.7rem/1 'Nunito', sans-serif;
    
    }


}
